# .github/workflows/backup.yml
name: Repository Backup to GitLab

on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for trigger'
        required: false
        default: 'Scheduled backup from Cloudflare Worker'

jobs:
  backup:
    runs-on: ubuntu-latest
    env:
      # Define el nombre del repositorio como una variable de entorno
      REPO_NAME: radiomax 
    steps:
      - name: Mirror Repository to GitLab
        run: |
          # Clona el repositorio usando la variable
          git clone --mirror https://${{ secrets.ORIGIN_TOKEN }}@github.com/chicagocs/${{ env.REPO_NAME }}.git
          
          # Entra al directorio usando la variable
          cd ${{ env.REPO_NAME }}.git
          
          # Haz push espejo al repositorio de GitLab
          git push --mirror https://oauth2:${{ secrets.DESTINATION_TOKEN }}@gitlab.com/TU_USUARIO_GITLAB/TU_PROYECTO_BACKUP.git
